@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
/* 英文字體 */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  font-family: "Josefin Sans", sans-serif;
  color: black;
}
.main-header {
  width: 100%;
  background-color: #ead2acd1;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 2px 2px 10px #a59376d1;
  position: fixed;
}
.container {
  max-width: 1200px;
  display: flex;
  margin: auto;
}
.logo {
  padding: 20px;
  width: 50px;
}
.logo a {
  display: flex;
  align-items: baseline;
}
.logo img {
  width: 100%;
}
.logo h1 {
  font-size: 25px;
  padding: 10px;
}
.main-nav {
  margin: auto;
}
.main-nav ul {
  display: flex;
  align-items: baseline;
}
.main-nav ul li a {
  font-size: 25px;
  padding: 0 1em;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 30px;
  vertical-align: bottom;
  margin: 0 5px;
}
.link {
  width: 150px;
  display: flex;
  align-items: center;
}
.link img {
  width: 60%;
}
@media (max-width: 768px) {
  .logo h1,
  .container .link,
  .main-nav span {
    display: none;
  }
}
